In [9]:
# Write a program using for loop to print from 34 to 45 (45 included)

# your Answer

for i in range (34,46):
    print(i)

34
35
36
37
38
39
40
41
42
43
44
45

In [17]:
# Write a program using for loop to print "machinelearning" 50 times 

# your Answer

for i in range(1,51):
    print(f"{i}", "machinelearning")

1 machinelearning
2 machinelearning
3 machinelearning
4 machinelearning
5 machinelearning
6 machinelearning
7 machinelearning
8 machinelearning
9 machinelearning
10 machinelearning
11 machinelearning
12 machinelearning
13 machinelearning
14 machinelearning
15 machinelearning
16 machinelearning
17 machinelearning
18 machinelearning
19 machinelearning
20 machinelearning
21 machinelearning
22 machinelearning
23 machinelearning
24 machinelearning
25 machinelearning
26 machinelearning
27 machinelearning
28 machinelearning
29 machinelearning
30 machinelearning
31 machinelearning
32 machinelearning
33 machinelearning
34 machinelearning
35 machinelearning
36 machinelearning
37 machinelearning
38 machinelearning
39 machinelearning
40 machinelearning
41 machinelearning
42 machinelearning
43 machinelearning
44 machinelearning
45 machinelearning
46 machinelearning
47 machinelearning
48 machinelearning
49 machinelearning
50 machinelearning

In [19]:
# Write a program using for loop to print 21 ,23,25,27

# your Answer
for a in range (21,28,2):
    print(a)

21
23
25
27

In [26]:
#Write a Python program that prints all the numbers from 14 to 37(37 inclusive) except 17 .
#Note : Use 'continue' statement.
#Expected Output : 14 15 16 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

# your Answer

for numbers in range (14,38):
    if numbers==17:
        continue
    print(numbers)

14
15
16
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37

In [31]:
# Write a program to print only even numbers from 85 to 100 using for loop

# your Answer

for n in range(85,101):
    if n%2==0:
        print(n)

86
88
90
92
94
96
98
100

In [51]:
# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 14 and 37

# your Answer

for i in range (14,38):
    if i%7==0 and i%5==0 :
        print(i)

35

In [74]:
#Write a Python program which iterates the integers from 14 to 37. 
#For multiples of three print "hello" instead of the number and for the multiples of five print "hi". 
#For numbers which are multiples of both three and five print "goodmorning"

# your Answer

for i in range (14,38):
    if i%3==0 and i%5==0:
        print("good morning")
    elif i%3==0:
        print("hello")
    elif i%5==0:
        print("Hi")
    else:
        print(i)

14
good morning
16
17
hello
19
Hi
hello
22
23
hello
Hi
26
hello
28
29
good morning
31
32
hello
34
Hi
hello
37

In [92]:

"""
2*1 = 2
2*2 = 4
.
.
.
2*10 = 20
"""
#Write program to print 2 table like above 

# your Answer
c=int(input("enter which tables you want ="))
for i in range (1,11):
    a=c*i
    print(f"{c} * {i}=",a)

enter which tables you want = 2

2 * 1= 2
2 * 2= 4
2 * 3= 6
2 * 4= 8
2 * 5= 10
2 * 6= 12
2 * 7= 14
2 * 8= 16
2 * 9= 18
2 * 10= 20

In [111]:
for i in range (1,2):
    for j in range (1,5):
        print('* * * * * *'"\n"
             "***************"
             "****************")

* * * * * *
*******************************
* * * * * *
*******************************
* * * * * *
*******************************
* * * * * *
*******************************